
#todoForm{
    font-size: 1.5em;

    padding: 10px;
    border: 2px solid #000;
    border-radius: 2px;
    margin-bottom:10px;
    width: auto;
    display:block;
    text-align: center;
    position: relative;

}
#titleInput {
    font-size: 1.5em;
    width:49%;

}
#description{
    font-size: 1.5em;
    width:49%;
}
#price {
    font-size: 1.5em;
    width:49%;
}
#imgUrl{
    font-size: 1.5em;
    width:49%
}
#submit{
    margin-top:5px;
    font-size: 1.5em;
    width:99%;
    
}
#item-box {
    border: 2px solid #000; 
    width: auto;
    display:block;
    text-align: left;
    position: relative;
    margin-left:5px;
    padding-left:10px;
    padding-bottom:10px;
}
#deleted {
    font-size:15px;
margin-top: 0px;
margin-bottom:15px;
display: block;


}
#image {
    max-width:400px;
    max-height:auto;
    position:relative;
    display: block;
}
#itemPrice {
    font-size: 1.5em;

}
#todo-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#itemTitle{
    font-size: 1.5em;
}
#itemDescription{
    font-size: 1.5em;

}


#statustxt{
    font-size: 20px;

    

}
#checkbox{

    margin-top:5px;
}