
    

@media screen and (min-width:768px) {
    .box1{
        border:2px solid black;
        width:100%;
        height:100px;
        position:relative;
        background-color: #F5C6D6;
    }
    
    .box2{
        border:2px solid black;
        width:24.5%;
        height:100px;
        position:relative;
        display:inline-block;
        background-color: #EE2E84;
    }
    .box3{
        border:2px solid black;
        width:24%;
        height:100px;
        position:relative;
        display:inline-block;
        background-color: #EE2E84;
    }
    .box4{
        border:2px solid black;
        width:24.5%;
        height:100px;
        position:relative;
        display:inline-block;
        
        background-color: #EE2E84;
    }
    .box5{
        border:2px solid black;
        width:24.5%;
        height:100px;
        position:relative;
        display:inline-block;
        background-color: #EE2E84;
    }
    .box6{
        border:2px solid black;
        width:49.5%;
        height:100px;
        position:relative;
        background-color: #85CFD8;
        padding-left:2px;
        float:left
    }
    .box7{
        border:2px solid black;
        width:49.5%;
        height:100px;
        position:relative;
        background-color: #85CFD8;
        padding-right:2px;
        float:right;
        
    }
    .box8{
        border:2px solid black;
        width:79.5%;
        height:100px;
        position:relative;
        background-color: #8DC63F;
        float:left;
        
    }
    .box9{
        border:2px solid black;
        width:19.5%;
        height:100px;
        position:relative;
        background-color: #E76E34;
        float:right
    }
}

@media screen and (max-width:767px) {
    .box1{
        border:2px solid black;
        width:100%;
        height:100px;
        position:relative;
        background-color: #F5C6D6;
    }
    
    .box2{
        border:2px solid black;
        width:100%;        
        height:100px;
        position:relative;
        background-color: #EE2E84;
    }
    .box3{
        border:2px solid black;
        width:100%;
        height:100px;
        position:relative;
        background-color: #EE2E84;
    }
    .box4{
        border:2px solid black;
        width:100%;
        height:100px;
        position:relative;
        background-color: #EE2E84;
    }
    .box5{
        border:2px solid black;
        width:100%;
        height:100px;
        position:relative;
        background-color: #EE2E84;
    }
    .box6{
        border:2px solid black;
        width:100%;
        height:100px;
        position:relative;
        background-color: #85CFD8;
    }
    .box7{
        border:2px solid black;
        width:100%;
        height:100px;
        position:relative;
        background-color: #85CFD8;
        
    }
    .box8{
        border:2px solid black;
        width:100%;
        height:100px;
        position:relative;
        background-color: #8DC63F;
        
    }
    .box9{
        border:2px solid black;
        width:100%;
        height:100px;
        position:relative;
        background-color: #E76E34;
    }
}